body {
    background-color: #EAEBED;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img {
    display: inline-block;
    width: 20%;
    float: left;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
}

div {
    display: inline-block;
    width: 15%;
    float: left;
    text-align: center;
    margin-top: 10%;
}

h1 {
    display: inline-block;
    width: 100%;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    color: #333D47;
}

p:first-child {
    display: inline-block;
    width: 100%;
    font-size: 5px;
    margin-top: 0;
    margin-bottom: 0;
    margin-block-end: 0;
    color: #333D47;
}

p:last-of-type {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    margin-top: 0;
    color: #333D47;
}

a {
    display: inline-block;
    font-size: 15px;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #6A6F8C;

}
